<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
   <h1 class="text-center text-bold text-2xl mt-10">Send some email</h1> 
   <p class="text-center text-gray-900">Click below to send welcome email to some users</p>
   <form action="{% url 'send-welcome-email' %}" class="flex justify-center mt-4" method="POST">
    {% csrf_token %}
    <button type="submit" class="px-3 py-2 bg-orange-700 text-white rounded-sm text-center">
        Send Emails
    </button>
   </form>
</body>
</html>